host       = {{getenv "VPN_HOST"}}
port       = {{getenv "VPN_PORT"}}
set-dns    = 0
{{if getenv "VPN_ROUTE"}}
set-routes = 0
{{else}}
set-routes = 1
{{end}}
# X509 certificate sha256 sum, trust only this one!
{{if getenv "VPN_TRUSTED_CERT"}}
trusted-cert = {{ getenv "VPN_TRUSTED_CERT" }}
{{end}}